numpy
opencv-python
opencv-python-headless
protobuf
tqdm
kornia
pillow
scipy
scikit-image
albumentations
numba
einops
trimesh
face-alignment
ninja
imageio
moviepy
skimage
tensorflow-gpu
tensorboard
torch
torchvision
torchsummary